include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
            section.hero
              .container.hero__container
                header.header
                  .logo ZM
                  .header__menu
                    nav.nav
                      ul.nav__list
                        - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                        each item in menu
                          li.nav__item
                            a(href="").nav__link #{item}
                  .header__links
                    ul.socials
                      - var socials = ['insta', 'vk', 'github'];
                      each item in socials
                        li.socials__item
                          a(href="").socials__link 
                            +icon(`${item}`, 'social__icon')
                .hero__content
                  .user-info
                    .user-info__desc Личный сайт веб-разработчика
                    .user-info__name Зарина Мамбетова
                .hero__bottom-buttons
                  .scroll-down-button Скролл
            section.about
              .container
                .about__left
                  .user
                    .user__avatar
                      img(src="./images/content/user.jpg").user__avatar-pic
                    .user__data
                      table.user__data-table
                        - 
                          var data = [
                                      ['Проживаю', 'Астрахань'],
                                      ['Возраст', '34 года'],
                                      ['Родилась', '19 декабря 1984'],
                          ]
                        each row in data
                          tr.user__data-row
                            td.user__data-title #{row[0]}
                            td.user__data-content #{row[1]}
                .about__right
                  .about__welcome Привет, меня зовут
                  .about__username Зарина Мамбетова
                  .about__desc
                    p Я занимаюсь разработкой современных сайтов и приложений.
                    p Мне нравится делать интересные и современные проекты.
                  .about__ps
                    p Этот сайт я сделала в рамках обучения в Школе онлайн-образования Loftschool.
        .triangles
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100")
            polygon(
              points="0,100 1000,100 1000,0"
            )
        section.values
          .container
            .values__title
              h2.section-title.values__title--text.section__title-small Чем я могу быть вам полезен
              .values__desc
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            ul.user-skills
              -
                var skills = [
                  ['Frontend',['HTML5', 'CSS3', 'javascript', 'jquery и vue']],
                  ['Workflow',['GIT', 'Terminal', 'Gulp', 'Webpacl']],
                ]
              each item in skills
                li.user-skills__item
                  .skills-row
                    h3.skills-row__title  #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                              circle(
                                r="100" cx="100" cy="100"
                              ).skill__circle.skill__circle--under
                              circle().skill__circle.skill__circle--above
                              linear-gradient()
                            .skill__title #{skill}
        section.slider
        .bottom-section
          section.rewiews
            .rewiews__title
              h2.section__title Что обо мне говорят 
              .rewiews__slider-controls
            ul.rewiews__slider
              - for (var i = 0; i < 2; i++)
                li.rewiews__slider-item
                  .quote
                    .quote__text
                    .quote__autor
                      .user.user--horizontal
                        .user__avatar
                          img(src="./images/content/user.jpg").user__avatar-pic
                        .user__data
                          .user__name Ковальчук Дмитрий
                          .user__occ Основатель LoftSchool



          section.form


